<div class="container">
    <div class="row lights">
      <div class="col-md-6">
        <h1>Give the Gift of the Outdoors</h1>
        <p>The end of the calendar year always brings excitement. Thanksgiving and Christmas are around the corner and that means time with family and friends that we often miss during the year.</p>
        <p>The end of the year also brings planning and looking forward to the next year. At GOAT, that means planning our capacity for the following year. How many kids can we provide summer experiences for? How many new kids will get to join our Adventure Teams? How many kids will we be able to hire this year?</p>
        <p>As we look towards the next year, much of this planning invovles budgeting. Our goal is to serve kids and change their lives in the long-term. To do this, we have to steward our resources well in the short term.</p>
      </div>
      <div class="col-md-6">
        <h1>&nbsp;</h1>
        <p>This is where we need your help! If someone gives each of the values below from $1-200 we will raise just over $20,000 to kickstart our programs for 2015.</p>
        <p>GOAT would never happen without passionate people giving generously to changing lives in Greenville. We're excited to have each of you as a partner in this Christmas season!</p> 
        <p><b>As a token of thanks, our friends at <a href="http://dapperink.com">Dapper Ink</a> and <a href="http://halfmoonoutfitters.com">Half-Moon Outfitters</a> are both offering 10% off orders in their stores for anyone who participates!</b> After you give you'll recieve an email with details!</p>
        <!--<p>To show how each of you are changing the world, we put together a video telling the story of one of our kids. <a href="http://youtu.be/vkb0v5oR9qc">Check out the video on YouTube</a>&rarr;</p>-->
        <br /><br />Because we value your privacy, all donations are <a href="http://stripe.com"><img src="img/solid@2x.png" width="119" height="26" border="0" /></a>
      </div>
    </div>
  </div>

  <div class="bigbox">
    <% @donations.each do |donation| %>
      <% if donation.paid? %>
      <div class="giftbox complete">
        Amount: $<%= donation.amount %>.00 Complete!
      </div>
      <% else %>
      <div class="giftbox">
        <form action="/charge" method="post">
          <label class="amount">
            
          </label>
          <button type="submit" class="stripe-button-el" style="visibility: visible;"
            data-amount="<%= donation.amount*100 %>" data-id="<%= donation.id %>">
            <span style="display: block; min-height: 30px;">Donate $<%= donation.amount %></span>
          </button>
        </form>
      </div>
      <% end %>
    <% end %>
  </div>


  <div class="container">
    <div class="row footer">
      <div class="col-md-6">
        <p>To learn more about <a href="http://goattrips.org">GOAT</a>, you can visit our website at <a href="http://goattrips.org">goattrips.org</a> or on <a href="http://facebook.com/goattrips">facebook</a>.</p>
        <p>All donations are processed securely by <a href="http://stripe.com">Stripe</a>.</p>
      </div>
    </div>
  </div>

  <script>
    $('.giftbox').on('click', 'button', function(e) {
      e.preventDefault();
      $this = $(this);

      var handler = StripeCheckout.configure({
        key: '<%= settings.publishable_key %>',
        name: "Great Outdoor Adventure Trips",
        image: 'img/160x160.jpg',
        allowRememberMe: 'false',
        amount: $this.data('amount'),
        closed: function() {
        },
        token: function(token) {
          $.post( "/charge", {
            token_id: token.id,
            donation_id: $this.data('id'),
            email: token.email
          }).done(function() {
            window.location.href = "/thanks";
          }).fail(function() {
            alert( "Sorry! There was an error processing your donation." );
          });
        }
      });

      handler.open();
    });
  </script>